[submodule "static/YueMi-API/javadocs"]
	path = static/Plugins/YueMi-Libs/javadocs-static
	url = https://github.com/YueMi-Development/YueMi-MC-Libs.git
	branch = gh-pages
[submodule "static/Plugins/MMO-Mechanics/javadocs-static"]
	path = static/Plugins/MMO-Mechanics/javadocs-static
	url = https://github.com/YueMi-Development/MC-MMO-Mechanics.git
	branch = gh-pages
[submodule "static/Plugins/MMO-Items/javadocs-static"]
	path = static/Plugins/MMO-Items/javadocs-static
	url = https://github.com/YueMi-Development/MC-MMO-Items.git
	branch = gh-pages
[submodule "static/Plugins/MMO-Mobs/javadocs-static"]
	path = static/Plugins/MMO-Mobs/javadocs-static
	url = https://github.com/YueMi-Development/MC-MMO-Mobs.git
	branch = gh-pages
[submodule "static/Plugins/Villager-Tweaks/javadocs-static"]
	path = static/Plugins/Villager-Tweaks/javadocs-static
	url = https://github.com/YueMi-Development/MC-Villager-Tweaks.git
	branch = gh-pages
